@using library_online_system_asp_dot_net.Controllers
@using library_online_system_asp_dot_net.DAOs
@using library_online_system_asp_dot_net.Models
@model library_online_system_asp_dot_net.Models.Book 
@{
    ViewBag.Title = "Home Page";
}


<main role="main">
     <div class="row" style="margin-top: 30px;">
            <h1>Browse by Subject</h1>
        </div>
<div class="row">
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
            
            <div class="item">
                <div class="pad15">
                    <img src="https://openlibrary.org/static/images/categories/religion.svg" class="img-fluid mx-auto d-block" alt="img1">
                    <a href="#">
                        <p>Bussiness</p></a>
                    <p>1 Book</p>

                </div>
            </div>
            <div class="item">
                <div class="pad15">
                    <img src="https://openlibrary.org/static/images/categories/science_fiction.svg" class="img-fluid mx-auto d-block" alt="img1">
                    <a href="#">
                        <p>Fiction</p></a>
                    <p>1 Book</p>

                </div>
            </div>
            <div class="item">
                <div class="pad15">
                    <img src="https://openlibrary.org/static/images/categories/medicine.svg" class="img-fluid mx-auto d-block" alt="img1">
                    <a href="#">
                        <p>Health</p></a>
                    <p>1 Book</p>

                </div>
            </div>
            <div class="item">
                <div class="pad15">
                    <img src="https://openlibrary.org/static/images/categories/history.svg" class="img-fluid mx-auto d-block" alt="img1">
                    <a href="#">
                        <p>History</p></a>
                    <p>1 Book</p>

                </div>
            </div>
            <div class="item">
                <div class="pad15">
                    <img src="https://cdn0.iconfinder.com/data/icons/colourful-education/250/book-512.png" class="img-fluid mx-auto d-block" alt="img1">
                    <a href="#">
                        <p>Novel</p></a>
                    <p>1 Book</p>

                </div>
            </div>
            <div class="item">
                <div class="pad15">
                    <img src="https://openlibrary.org/static/images/categories/romance.svg" class="img-fluid mx-auto d-block" alt="img1">
                    <a href="#">
                        <p>Romance</p></a>
                    <p>1 Book</p>

                </div>
            </div>






        </div>
        <button class="btn btn-primary leftLst"><</button>
        <button class="btn btn-primary rightLst">></button>
    </div>
</div>
<div class="row">
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
            @* <div class="item"> *@
            @*     <div class="pad15"> *@
            @*         <img src="http://placehold.it/100x100" class="img-fluid mx-auto d-block" alt="img1"> *@
            @*         <p>₹ 1</p> *@
            @*         <p>₹ 6000</p> *@
            @*         <p>50% off</p> *@
            @*     </div> *@
            @* </div> *@
@*             @{ *@
@*                 var booksByCategory = (List<Book>) ViewBag.booksByCategory; *@
@*                 foreach (Book book in booksByCategory) *@
@*                 { *@
@*                     <div class="item"> *@
@*                         <div class="pad15"> *@
@*                             <img src="@book.CoverImage" class="img-fluid mx-auto d-block"> *@
@*                             <p>@book.BookTitle</p> *@
@*                             <button class="btn btn-success">Rent</button> *@
@*                             <button class="btn btn-primary">Buy</button> *@
@*                         </div> *@
@*                     </div> *@
@*                 } *@
@*             } *@
        </div>
        
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <h1>Newly added books</h1>
</div>
<div class="row">
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
            @{
                var newAddedBooks = (List<Book>) ViewBag.newAddedBooks;
                foreach (Book book in newAddedBooks)
                {
                    <div class="item">
                        <div class="pad15">
                            <img src="@book.CoverImage" class="img-fluid mx-auto d-block" alt="">
                            @Html.ActionLink(book.BookTitle, "ViewBook", "ViewBook", new {isbn = book.Isbn}, new {@class = "text-center"})
                            <div class="action">
                                <a href="@Url.Action("ViewBookWithProcess", "ViewBook", new {process = "buy", isbn = book.Isbn})">
                                    <button class="btn btn-primary">Buy</button>
                                </a>
                                <a href="@Url.Action("ViewBookWithProcess", "ViewBook", new {process = "rent", isbn = book.Isbn})">
                                    <button class="btn btn-success">Rent</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <button class="btn btn-primary leftLst"><</button>
        <button class="btn btn-primary rightLst">></button>
    </div>
</div>
@if (Session["username"] != null)
{
    <div class="row">
        <h1>
            Books I rented
        </h1>
    </div>
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
            @{
                var bookIrent = (List<Book>) BookDao.GetBookIRent((string) Session["username"]);
                foreach (Book book in bookIrent)
                {
                    <div class="item">
                        <div class="pad15">
                            <img src="@book.CoverImage" class="img-fluid mx-auto d-block" alt="">
                            @Html.ActionLink(book.BookTitle, "ViewBook", "ViewBook", new {isbn = book.Isbn}, new {@class = "text-center"})
                            <div class="action">
                                <a href="@Url.Action("ReadBook", "ReadBook", new {id=BookDao.GetBookCopyMediumLengthId(book.Isbn), page=1})">
                                    <button class="btn btn-danger">Read it!</button>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <button class="btn btn-primary leftLst"><</button>
        <button class="btn btn-primary rightLst">></button>
    </div>
}

<style>
        a.text-center {
            display: block;
            height: 59px;
        }
    </style>
</main>