@model IEnumerable<library_online_system_asp_dot_net.Models.Book>
@{
    Layout = "../Shared/_Layout.cshtml";
}


<div>
      @foreach (var book in Model)
      {
          <div>
              @book.BookTitle
              @book.Isbn
              @book.Author
              @book.Publisher
              @book.Description
              @book.CoverImage
              <br>
          </div>
      }
</div>
