@using library_online_system_asp_dot_net.DAOs
@using library_online_system_asp_dot_net.Models

@{
    Layout = "../Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/bookview.css">
<div class="panel panel-default">
    <div class="panel-body">
        @{
            Book book = (Book) ViewBag.book;
            if (ViewBag.rented != null || ViewBag.bought != null)
            {
                using (Html.BeginForm("Transact", "BookRenting", FormMethod.Post))
                {
                    <div class="container">
                        <article class="item-pane">
                            <div class="item-preview">
                                <div class="book">
                                    <img class="img-thumbnail" src="@book.CoverImage" alt="">
                                </div>
                            </div>
                            <div class="item-details">
                                <h1>@book.BookTitle</h1><span class="subtitle">by @BookDao.GetAuthorNameById(book.Author)</span>
                                <div class="pane__section">
                                    <p>
                                        @book.Description
                                    </p>
                                    <p>Publisher: @book.Publisher</p>
                                    <p>Rating: @BookDao.GetRatingByIsbn(book.Isbn)/5</p>
                                    @{
                                        if (ViewBag.rented != null && ViewBag.rented == true)
                                        {
                                            <a href="@Url.Action("Transact", "BookRenting", new {rentingTransaction = true})">
                                                <button class="btn btn-secondary">Rent it!</button>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Transact", "BookRenting", new {buyingTransaction = true})">
                                                <button class="btn btn-secondary">Buy it!</button>
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </article>
                    </div>
                    
                }
            }
        }
    </div>
</div>