@using library_online_system_asp_dot_net.DAOs
@using library_online_system_asp_dot_net.Models
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}
<div class="reading">
    <div class="title">
@*         @{ *@
@*                 Book book = BookDao.GetBookByBookCopyId(ViewBag.id); *@
@*                 <h3>@book.BookTitle</h3> *@
@*             } *@
    </div>
    <div class="content">
        <p>@ViewBag.bookContent</p>
    </div>
    <div class="action">
        @if (ViewBag.page != 1)
        {
            <a href="@Url.Action("ReadBook", "ReadBook", new {id = ViewBag.id, page = ViewBag.page - 1})">
                <button class="btn btn-success">
                    Previous
                </button>
            </a>
        }
            @if (ViewBag.page != ViewBag.size)
            {
                <a href="@Url.Action("ReadBook", "ReadBook", new {id = ViewBag.id, page = ViewBag.page + 1})">
                    <button class="btn btn-success">
                        Next
                    </button>

                </a>
            }
        <a href="@Url.Action("ReadingProgress", "ReadBook", new {id = ViewBag.id, page = ViewBag.page + 1})">
            <button class="btn btn-info">
                Update my reading process
            </button>
        </a>
    </div>
</div>

<style>
    .reading {
    
            background-color: white;
            border-radius: 20px;
            padding: 83px;
            margin-top: 50px;
    }
    .action {
        margin: 0 auto;
        align-items: center;
    }
</style>